body {
  text-align: center;
}
header,
section,
footer,
aside,
nav,
article,
figure,
figcaption,
hgroup {
  display: block;
}
#player {
  width: 720px;
  margin: 20px auto;
  padding: 5px;
  background: #999999;
  border: 1px solid #666666;
  border-radius: 5px;
}
nav {
  margin: 5px 0px;
}
#controls {
  float: left;
  width: 100px;
  height: 20px;
}
#bar {
  position: relative;
  float: left;
  width: 600px;
  height: 16px;
  padding: 2px;
  border: 1px solid #cccccc;
  background: #eeeeee;
}
#progress {
  position: absolute;
  width: 0px;
  height: 16px;
  background: rgba(0, 0, 150, 0.2);
}
